<% layout('base') -%>

<div class="hero text-center bg-brand-primary">
  <div class="container">
      <img src="images/peerio_hero_logo.png" class="img-responsive center peeriologo animated bounceIn"></img>
      <h2 class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix">Developer tools that make it safe & easy for your users to schedule & meet locally.</h2>
      <p class="lead col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix">Build user scheduling, location mapping & payments into your peer-to-peer web & mobile apps in minutes.</p>
      <p class="col-xs-12">
          <button class="btn btn-lg btn-success" href="/meet" data-toggle="modal" data-target="#earlyAccessModal">Get Early Access <span class="fa fa-check"></span>
          </button>
      </p>
      
  </div>
</div>