<% layout('base') -%>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="CopyContainer">
      <h1>Connecting Buyers and Sellers, locally</h1>
      <div class="BuiltByPeerio_LockUp">
        <div class="byPeerio"><img src="images/Peerio_White.png" alt="Peerio" /></div>
      </div>

      <p>Local marketplaces connect buyers and sellers in your comminity, <br />we make meeting happen. </p>
      <p><a href="/meet" class="btn btn-primary btn-lg" role="button">Meet Up &raquo;</a></p>
    </div>
  </div>
</div> <!-- END jumbotron -->
