<% layout('base') -%>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="CopyContainer">
      <h1>Grab Coffee With Me</h1>
      <div class="BuiltByPeerio_LockUp">
        <div class="byPeerio"><img src="images/Peerio_White.png" alt="Peerio" /></div>
      </div>

      <p>Doing business, meeting old friends, we dont care, honestly. <br />We just help make it happen. </p>
      <p><a href="/meet" class="btn btn-primary btn-lg" role="button">Meet Up &raquo;</a></p>
    </div>
  </div>
</div> <!-- END jumbotron -->
