<div class="hero text-center bg-brand-primary">
  <div class="container">
      <img src="/images/peerio_hero_logo.png" class="img-responsive center peeriologo"></img>
      <!--<h2 class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix">Developer tools that make it safe & easy for your users to schedule & meet locally.</h2>
      <p class="lead col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix">Build user scheduling, location mapping & payments into your peer-to-peer web & mobile apps in minutes.</p>
      <p class="col-xs-12">
          <button class="btn btn-lg btn-success" href="#" data-toggle="modal" data-target="#earlyAccessModal">Get Early Access <span class="fa fa-check"></span>
          </button>
      </p>-->
      
  </div>
</div>

<div class="mainContent">
  <div class="container clearfix">
    <div class="pageContainer invitee_welcome clearfix col-xs-12">
      <div class="col-xs-12">
        <div class="topPortion clearfix">
          <div class="text-center">You've Been Invited to a Meet Up</div>
          <div class="pagePrompt text-center col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">Let's Meet Up</div>
          <h4 class="col-sm-12 col-md-8 col-md-offset-2 text-center"><a href="user_profile.html">Steffan</a> has invited you to grab coffee with him. He has provided some details about the Meet Up, but it's your choice to finalize when and where to meet. All the power is yours! Woo, big decisions await.</h4>
        </div> <!-- END topPortion -->
      </div>

      <div class="invitee_Welcome col-xs-12">
        <div class="GrabACoffeeWithMe_Artwork text-center" style="weidth: 100%;"></div>

      

      <div class="nextButtonSection text-center col-xs-12">
        <a href="/invitee_times" class="btn btn-lg next">Let's Pick Times <i class="fa fa-arrow-right"></i></a>
      </div>

      
    </div>  <!-- end pickingTimes -->



  </div>   <!-- end container -->
</div>    <!-- end mainContent -->

