<% layout('base') -%>

<div class="hero text-center bg-brand-primary">
  <div class="container">
  	<label>Buyer email</label>
  	<input type="text" id="buyeremail">
  	<br>
  	<label>Buyer name</label>
  	<input type="text" id="buyername">
  	<br>
  	<br>
  	<label>Seller email</label>
  	<input type="text" id="selleremail">
  	<br>
  	<label>Seller name</label>
  	<input type="text" id="sellername">
  	<br>
  	<br>
  	<button id="complete-purchase" class="btn btn-lg btn-success">Complete Purchase</button>

  </div>   <!-- end container -->
</div>    <!-- end mainContent -->
