<% layout('base') -%>

<div class="hero text-center bg-brand-primary">
  <div class="container marketplace color-black center-block">

    <div class="usertype center">
      <div class="role">Buyer</div>
      <div class="form-group text-center">
        <input type="text" id="buyername" class="form-control" placeholder="Buyer's Name">
      </div>
    	<div class="form-group text-center">
        <input type="text" id="buyeremail" class="form-control" placeholder="Buyer's Email">
    	</div>

    </div>
    
    <div class="usertype center">
    	<div class="role">Seller</div>
      <div class="form-group text-center">

        <input type="text" id="sellername" class="form-control" placeholder="Seller's Name">
      </div>
    	<div class="form-group text-center">

        <input type="text" id="selleremail" class="form-control" placeholder="Seller's Email">
    	</div>

    </div>


  
    <div class="col-xs-12">
  	 <button id="complete-purchase" class="btn btn-lg btn-success">Complete Purchase</button>
    </div>

  </div>   <!-- end container -->
</div>    <!-- end mainContent -->
