<% layout('base') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div class="mainContent">
  <div class="container clearfix">
    <div class="pageContainer pickingTimes clearfix col-xs-12">
      <div class="col-xs-12">
        <div class="topPortion clearfix">
          <div class="pagePrompt text-center">Time for Times</div>
        </div> <!-- END topPortion -->
      </div>

      <div class="timesPickerContainer col-xs-12">

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <!--<div class="panel-heading">Panel heading</div>-->
          <!-- Table -->
          <div id='calendar'></div>


        </div>
      </div> <!-- END timesPickerContainer -->

      <div class="nextButtonSection text-center col-xs-12">
        <a href="/confirmation"><button class="btn btn-lg next">Send Meet Up Request <i class="fa fa-arrow-right"></i></button></a>
      </div>

      
    </div>  <!-- end pickingTimes -->



  </div>   <!-- end container -->
</div>    <!-- end mainContent -->
