<% layout('base') -%>


<div class="mainContent">
  <div class="container clearfix">
    <div class="pageContainer picking_occasion clearfix col-xs-12 pl-0 pr-0">
      <div class="col-xs-12">
        <div class="topPortion clearfix">
          <div class="pagePrompt text-center col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">Getting Started</div>
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-googleSignUp"><i class="fa fa-google-plus-square fa-2x"></i> Sign up with google</button>
          </div>

        </div> <!-- END topPortion -->
      </div>

      <div class="picking_occasion col-xs-12 pl-0 pr-0">
        

        <div class="occasionTypePicker col-xs-12">
          <button type="button" class="occasion btn btn-lg firstDate col-xs-12 col-md-4">The <br />First Date </button>
          <button type="button" class="occasion btn btn-lg businessMeeting col-xs-12 col-md-4">Getting Down <br />to Business</button>
          <button type="button" class="occasion btn btn-lg grabCoffee col-xs-12 col-md-4">Let's Grab <br />Coffee Together</button>
        </div>

        <div class="proximityPicker">

          <div class="proximityOption col-xs-12 col-md-4">
            <div class="proximityGraphic nearMe text-center"></div>
            <h3>Near Me</h3>
            <p>This will let the other person know that you need to meet at a location near me. We aren't saying you wont travel, but it just can be accross town. This option is perfect for people with busy schedule who don't really have extra time to travel 15 minutes or more.</p>
            <button type="button" class="btn btn-lg col-xs-12">Near Me</button>
          </div> <!-- END nearMe -->

          <div class="proximityOption col-xs-12 col-md-4">
            <div class="proximityGraphic betweenUs text-center"></div>
            <h3>Between Us</h3>
            <p>You're a good person. Your willing to negotiate, AKA comprimise. You have probably got a pretty good marriage, where you both walk away feeling like winners even though neither one of you got 100% your way. Trust me, you are probaby a keeper!</p>
            <button type="button" class="btn btn-lg col-xs-12">Between Us</button>
          </div> <!-- END betweenUs -->

          <div class="proximityOption col-xs-12 col-md-4">
            <div class="proximityGraphic nearYou text-center"></div>
            <h3>Near You</h3>
            <p>Listen, your important, but let's get real. This Meet Up is not your everyday thing. You're meeting with a big shot, a real power player; they're busy, important and dont have time to drive accross town. You're probably better off going to them.</p>
            <button type="button" class="btn btn-lg col-xs-12">Near You</button>
          </div> <!-- END betweenUs -->

        </div> <!-- END proximityPicker -->

      </div><!-- mapAndList -->

      <div class="nextButtonSection text-center col-xs-12">
        <a href="/picktimes"><button class="btn btn-lg next">Let's Pick Times <i class="fa fa-arrow-right"></i></button></a>
      </div>

      
    </div>  <!-- end pickingTimes -->



  </div>   <!-- end container -->
</div>    <!-- end mainContent -->
