<% layout('base') -%>
<div class="hero text-center bg-brand-primary">
  <div class="container">
      <a href="/"><img src="images/peerio_logo.png" class="img-responsive center peeriologo animated bouncIn"></img></a>
      <!--<img src="images/peerio_hero_logo.png" class="img-responsive center peeriologo animated bouncIn"></img>-->
      <!--<h2 class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix">Developer tools that make it safe & easy for your users to schedule & meet locally.</h2>
      <p class="lead col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix">Build user scheduling, location mapping & payments into your peer-to-peer web & mobile apps in minutes.</p>
      <p class="col-xs-12">
          <button class="btn btn-lg btn-success" href="#" data-toggle="modal" data-target="#earlyAccessModal">Get Early Access <span class="fa fa-check"></span>
          </button>
      </p>-->
      
  </div>
</div>


<div class="mainContent">
  <div class="container clearfix">
    <div class="pageContainer col-xs-12 clearfix pl-0 pr-0">
      <div class="col-xs-12 clearfix">
        <div class="topPortion clearfix">
          <div class="pagePrompt text-center">Pick a Meeting Place</div>
          <div class="subtitle text-center">These are the places very close to you </div>
          
        </div> <!-- END topPortion -->
      </div>

      <div class="mapAndList col-xs-12 pl-0 pr-0">
       <!-- <div class="proximityPicker">
          <div class="btn-group btn-group-lg text-center col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-1">
            <button type="button" class="btn btn-default">Near Me</button>
            <button type="button" class="btn btn-default">Inbetween Us</button>
            <button type="button" class="btn btn-default">Near Them</button>
          </div>
        </div>

        <div class="occasionTypePicker col-xs-12">
          <button type="button" class="occasion btn btn-lg firstDate col-xs-12 col-md-4">The <br />First Date </button>
          <button type="button" class="occasion btn btn-lg businessMeeting col-xs-12 col-md-4">Getting Down <br />to Business</button>
          <button type="button" class="occasion btn btn-lg grabCoffee col-xs-12 col-md-4">Let's Grab <br />Coffee Together</button>
        </div> -->
        <div class="AcceptGeoLocation col-xs-12 col-md-12 col-lg-6 col-lg-offset-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your Location">
            <span class="input-group-addon" >Current Location  <i class="fa fa-location-arrow"></i></span>
          </div>
          <p style="font-size: 11px; color: #ccc; padding-top: 5px;">Your browser may ask you to allow it to use your geographic location</p>

        </div>
        
        <div class="listViewerPadding col-xs-12 col-md-12 col-lg-6 col-lg-offset-3 clearfix">
          <div id="listViewer">
            <div class="listViewerTitle">Please choose 1 place</div>
            
            
            <div class="listItem">
              <div class="btn btn-lg AddButton"><i class="fa fa-check"></i></div>
              <div class="shopImg"><img src="images/coffee-emporium.jpg"></div>
              <div class="shopName">Coffee Emporium</div>
              <div class="shopAddress1stLine">110 E Central Pkwy</div>
              <div class="shopAddress2ndLine">Cincinnati, OH 45202</div>
              <div class="shopPhoneNumber">(513) 651-5483</div>

            </div> <!-- listItem -->
            <div class="divider"></div>

            <div class="listItem">
              <div class="btn btn-lg RemoveButton"><i class="fa fa-plus"></i></div>
              <div class="shopImg"><img src="images/coffee-emporium.jpg"></div>
              <div class="shopName">Coffee Emporium</div>
              <div class="shopAddress1stLine">110 E Central Pkwy</div>
              <div class="shopAddress2ndLine">Cincinnati, OH 45202</div>
              <div class="shopPhoneNumber">(513) 651-5483</div>

            </div> <!-- listItem -->
            <div class="divider"></div>

            <div class="listItem">
              <div class="btn btn-lg AddButton"><i class="fa fa-check"></i></div>
              <div class="shopImg"><img src="images/coffee-emporium.jpg"></div>
              <div class="shopName">Coffee Emporium</div>
              <div class="shopAddress1stLine">110 E Central Pkwy</div>
              <div class="shopAddress2ndLine">Cincinnati, OH 45202</div>
              <div class="shopPhoneNumber">(513) 651-5483</div>

            </div> <!-- listItem -->
            <div class="divider"></div>

            <div class="listItem">
              <div class="btn btn-lg AddButton"><i class="fa fa-check"></i></div>
              <div class="shopImg"><img src="images/coffee-emporium.jpg"></div>
              <div class="shopName">Coffee Emporium</div>
              <div class="shopAddress1stLine">110 E Central Pkwy</div>
              <div class="shopAddress2ndLine">Cincinnati, OH 45202</div>
              <div class="shopPhoneNumber">(513) 651-5483</div>

            </div> <!-- listItem -->
            <div class="divider"></div>

            <div class="listItem">
              <div class="btn btn-lg RemoveButton"><i class="fa fa-plus"></i></div>
              <div class="shopImg"><img src="images/coffee-emporium.jpg"></div>
              <div class="shopName">Coffee Emporium</div>
              <div class="shopAddress1stLine">110 E Central Pkwy</div>
              <div class="shopAddress2ndLine">Cincinnati, OH 45202</div>
              <div class="shopPhoneNumber">(513) 651-5483</div>

            </div> <!-- listItem -->
            <div class="divider"></div>

            <div class="listItem">
              <div class="btn btn-lg AddButton"><i class="fa fa-check"></i></div>
              <div class="shopImg"><img src="images/coffee-emporium.jpg"></div>
              <div class="shopName">Coffee Emporium</div>
              <div class="shopAddress1stLine">110 E Central Pkwy</div>
              <div class="shopAddress2ndLine">Cincinnati, OH 45202</div>
              <div class="shopPhoneNumber">(513) 651-5483</div>

            </div> <!-- listItem -->
            <div class="divider"></div>

            <div class="loadMore text-center">
              <p class="moreText"> More</p>
              <div class="MoreArrow text-center"></div>

            </div><!-- END loadMore -->
            <div class="divider"></div>


          </div><!-- END listViewr -->
          <div class="nextButtonSection text-center col-xs-12">
            <a href="/finalize" class="btn btn-lg next">Send Location to Buyer <i class="fa fa-envelope-o"></i></a>
          </div>
        </div> <!-- END listViewerPadding -->
      </div><!-- mapAndList -->

      

      
    </div>  <!-- end pickingTimes -->



  </div>   <!-- end container -->
</div>    <!-- end mainContent -->

