<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div class="mainContent">
  <div class="container clearfix">
    <div class="pageContainer user_profile clearfix col-xs-12">
      <div class="col-xs-12">
        <div class="topPortion clearfix">
          <div class="subtitle linkedinHeadline text-center">Co-Founder & CEO at Peerio</div>
          <div class="pagePrompt linkedinUsername text-center col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">Steffan H.</div>
        </div> <!-- END topPortion -->
      </div>

      <div class="userProfileDetails col-xs-12">
        <div class="image img-circle text-center" style="background-image: url('images/steffanhowey.jpg');"></div>
        <div class="details col-xs-12">
          <div class="job">Works at Peerio</div>
          <div class="location">Lives in Cincinnati, OH</div>
          <div class="education">Attended Cincinnati State</div>
        </div> <!-- END details -->
        

        <div class="row col-md-8 col-md-offset-2">
          <div class="userBoxes col-xs-5 pull-left">
            <ul>
              <li><b>Email:</b> steffan@getpeerio.com</li>
              <li><b>Interst:</b> Entrepreneurship</li>
              <li><b>Phone:</b> (513) 555-1234</li>
            </ul>
          </div>
          <div class="userBoxes row col-xs-5 pull-right">
            <a herf="go_to_users_facebook_account" class="socialnetwork"><div class="col-xs-4"><img src="images/facebook_logo.png" alt=""/></div></a>
            <a herf="go_to_users_twitter_account" class="socialnetwork"><div class="col-xs-4"><img src="images/twitter_logo.png" alt=""/></div></a>
            <a herf="go_to_users_twitter_account" class="socialnetwork"><div class="col-xs-4"><img src="images/linkedin_logo.png" alt=""/></div></a>
          </div>
        </div> <!-- END row -->


      </div> <!-- END userProfileDetails -->

      <div class="nextButtonSection text-center col-xs-12">
        <a href="/pick_locatoin"><button class="btn btn-lg next">Meet with Steffan <i class="fa fa-arrow-right"></i></button></a>
      </div>


      
    </div>  <!-- end pickingTimes -->



  </div>   <!-- end container -->
</div>    <!-- end mainContent -->
