$icon-font-path: "../vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #197cbc;
    color: #4a412f;
}

.navbar {
    background: transparent;
    border: 0px;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
    p {
        color: white;
    }
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
footer {
    background-image: url("../images/peerio_footer_logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    line-height: .5;
    height: 40px;
    .terms {
        padding-left: 50px;
        padding-top: 10px;
        a {
            color: white;
        }
        a:hover {
            color: #7fb5e2; 
        }
    }
    .copyright {
        color: #7fb5e2;
        padding-left: 50px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.hero {
    padding: 50px;
    background-image: url("/images/peerio_hero_map.png");
    background-position: center center;
    color: white;
    .peeriologo {
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    h2 {
        font-size: 36px;
        line-height: 1.3;
        
    }
    .maintext {
        font-size: 36px;
    }
    .subtext {
        font-size: 23px;
    }
    .lead {
        margin-top: 20px;
    }
}
.peeriointro {
    color: white;
}

.jumbotron {

    background-color: red;
    background-image: url("../images/1215VineStreet.jpg");
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    color: white;

    padding: 140px 30px 140px 30px;

    .CopyContainer {
        
        h1 {
            font-size: 58px;
            letter-spacing: 6px;
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
            text-transform: uppercase; 
            
           
        }
        .BuiltByPeerio_LockUp {
            background-image: url("images/Peerio_White.png");
        }
        p {
            font-family: sans-serif;
            font-size: 24px;
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
        }
    }
    .btn {
        margin-top: 20px;
        font-size: 21px;
        padding: 14px 24px;
        background:transparent;
        border: 3px solid white;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    }

}
.pageContainer {
    background-color: white;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    .topPortion {
        margin-bottom: 60px;
        margin-top: 40px;
        .pagePrompt {
            margin-bottom: 20px;
            color: #287bc1;
            font-size: 48px;
            font-weight: lighter;
        }
        .subtitle {
            font-family: sans-serif;
            font-size: 16px;
            line-height: 1.2;
            margin-top: 0px;
            color: #999999;
        }
    }
}


.user_profile {
    .userProfileDetails {
        .image {
            height: 200px;
            width: 200px;
            background-size: 100%;
            margin: 30px auto 30px auto;
        }
        .userBoxes {
            background-color: white;
            border: 1px solid #f3edd9;
            padding: 10px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
        }
        .details {
            text-align: center;
            padding-bottom: 30px;
            .job {
                text-transform: uppercase;
                font-size: 18px;
            }
            .location,
            .education {
                font-size: 14px;
                color: #b0a58e;
            }
        }
        .socialnetwork {
            margin-top:10px;
            margin-bottom: 10px;
            background-position: center center;
            background-repeat: no-repeat;
            &.facebook {
                background-image: url("../images/facebook_logo.png");
            }
            &.twitter {
                background-image: url("../images/twitter_logo.png");
            }
            &.linkedin {
                background-image: url("../images/linkedin_logo.png");
            }
        }
    }
}

.pickingTimes {

    .yourDetails {
        margin: 30px auto 30px auto;
    }
    .timesPickerContainer {
        background-color: #ededed;
        border: 1px solid #d4d4d4;

        padding:15px 15px 0px 15px;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        #geoLocationPicker {
            width: 500px;
            padding-left: 40px;
            .geoLocation {
                display: inline;
                float: left;
                padding: 0px 10px 0px 10px;
            }
            a {
                padding: 5px 10px 5px 0px;
            }
            .colorBlock{
                height: 20px;
                width: 30px;
                border-radius: 30px;
                display: inline;
            }
            & .green {
                background-color: green;
            }
            & .blue {
                background-color: blue;
            }
            & .orange {
                background-color: orange;
            }
            & .gray {
                background-color: gray;
            }
        }

        .instuction {
            text-align: right;
            float: right;
            padding-top: 10px;
            color: #a4a4a4;
        }
        .panel {
            margin-top: 15px;
        }
        .time {
            color: #b9b9b9;

        }
        
        .timeAvailable {
            color: #b9b9b9;
            cursor: pointer;
            &.selected {
                background-color: #c1dced;
                color: black;
                .fa {
                    color: white;
                }
            }

        }
        & .available {
            background-color: #f7f4e7;
            color: black;
        }
        & .available:hover {
            background-color: #f4efdd;
        }
        & .work {
            background-color: #d6d6ff;
            .fa-check-square {
                color: #6666ff;
            }
        }

        & .home{
            background-color: #bae3ba;
            .fa-check-square {
                color: #009900;
            }
        }
        & .other{
            background-color: orange;
            .fa-check-square {
                color: orange;
            }
        }
        & .unselected{
            color: #b9b9b9;
            .fa-square-o {
                color: #b9b9b9;
            }
        }
        & .locked {
            color: #e6e6e6;
            .fa-square-o {
                color: #e6e6e6;
            }
        }
    }
}

.invitee_Welcome {
    .GrabACoffeeWithMe_Artwork {
        background-image: url("../images/peerio_logo.png");
        background-repeat: no-repeat;
        background-position: center center;
        height: 450px;
        width: 450px;
        margin: 20px auto 20px auto;
    }
}
.picking_occasion {
    .btn-googleSignUp {
        background-color: #df4a32;
        color: white;
        font-size: 18px;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
        vertical-align: center;
    }
    .occasionTypePicker {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        padding-top: 10px;
        padding-bottom: 10px;
        .occasion {
            background-repeat: no-repeat;
            background-position: 20px center;
            &.btn {
                color: #6daa65;
                background-color: white;
                padding: 26px 10px 26px 100px;
                text-align: left;
                text-transform: uppercase;

            }
            &.btn:hover {
                background-color: #aed6aa;
                border: 1px solid #76b96e;
                color: white;
            }
            &.firstDate{
                background-image: url("../images/occasion_firstDate_logo.png");     
            }
            &.businessMeeting{
                background-image: url("../images/occasion_businessMeeting_logo.png");
            }
            &.grabCoffee {
                background-image: url("../images/occasion_grabCoffee_logo.png");
            }
            
        }

    }
    .proximityPicker {
        /*position: relative;
        top: 530px;*/
        .proximityOption {
            margin: 30px 0px 30px 0px;
            padding: 0px 55px 0px 55px;

            .proximityGraphic {
                background-repeat: no-repeat;
                background-position: center center;
                height: 220px;
                width: 100%;
            }
            & .nearMe{
                background-image: url("../images/proximity_by_me_graphic.png");
            }
            & .betweenUs{
                background-image: url("../images/proximity_between_us_graphic.png");
            }
            & .nearYou{
                background-image: url("../images/proximity_by_you_graphic.png");
            }
            h3 {
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 15;
            }
            p {
                font-family: sans-serif;
                font-size: 16px;
                text-align: center;
                color: #999;
            }
        }
        z-index: 4000;
        .btn {
            color: #5F3711;
            background-color: white;
            text-transform: uppercase;
            border: 1px solid #E2D5C1;
            margin-top: 30px;
        }
        .btn:hover {
            color: white;
            background-color: #5F3711;
            border: 1px solid #5F3711;
        }
        
    }

}
.mapAndList {
    border-bottom: 1px solid #dddddd;
    margin-top: 10px;
    height: 570px;
    #map_canvas {
        padding-top: 20px;
        height: 550px;
        background-color: blue;
    }
    .listViewerTitle {
        font-size: 18px;
        border-bottom: 1px solid #dddddd;
        padding: 10px 10px 10px 0px;
    }
    .listViewerPadding {
        padding: 30px;
        background-color: #cccccc;
    }
    #listViewer {
    background-color: #fbfbfb;
    border-left: 1px solid #dddddd;
    height: 522px;
    overflow: scroll;
        
        .listItem {
            border-bottom: 1px solid #dddddd;
            padding: 20px 0px 20px 0px;

            .shopImg {
                float: left;
                padding-right: 20px;
            }
            .shopName {
                font-weight: bold;
                text-transform: uppercase;
            }
            .shopAddress1stLine,
            .shopAddress2ndLine,
            .shopPhoneNumber {
                font-size: 16px;
                font-family: sans-serif;
            }
            .AddButton,
            .RemoveButton {
                float:right;
                color: white;
            }
            .AddButton {
                background-color: #76b96e; /*green*/
            }
            .RemoveButton {
                background-color: red;
            }
        }
        .loadMore {
            cursor: pointer;
            .moreText {
                margin: 10px;
                color: #d0d0d0;
                font-size: 16px;
            }
            .MoreArrow {
                background-image: url("../images/morearrowdown.png");
                height: 11px;
                width: 21px;
                margin: 0px auto 0px auto;
            }
        }
    }
}
.nextButtonSection {
    height: 130px;
    .btn {
        color: white;
        margin-top: 40px;
        background-color: #76b96e;
    }
    & .createNew {
        background-color: gray;
        color: white;
    }
}
.suggestAlternativeTime {
    margin-left:10px;
    &.btn {
        color: #b3b3b3;
        background-color: #ededed;
        border: 1px solid #cdcdcd;
    }
    &.btn:hover {
        color: #8c8989;
        background-color: #d9d9d9;
    }
}
.confirmation {
    .confirmationMessage {
        padding-top: 60px;
        font-family: sans-serif;
        .mailsent {
            background-image: url("../images/sendEmail_graphic.png");
            background-repeat: no-repeat;
            background-position: center center;
            height: 260px;
            width: 260px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }
        .note {
            margin: 10px 0px 10px 0px;
        }
        .input-group {
            .copyURL {
                background-color: #76b96e;
                color: white;
            }
        }
        .section {
            margin-bottom: 60px;
        }
        .sendModule {
            margin: 10px;
            border: 1px solid #e8e8e2;
            padding: 20px;
            background: rgba(255,255,255,1);
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,249,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(250,250,249,1)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,249,1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,249,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,249,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,250,249,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafaf9', GradientType=0 );
            .Title {
                text-align: center;
                color: #666666;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                letter-spacing: 20;
                font-size: 19px;
            }
            .graphic {
                height: 200px;
                width: 200px;
                background-position: center center;
                background-repeat: no-repeat;
                margin: 10px auto 20px auto;
            }
        }
        .sendURL {
            .graphic {
                background-image: url("../images/sendURL_graphic.png");
            }
        }
        .or-text {
            text-transform: uppercase;
            font-size: 40px;
            color: #4a412f;
            font-family: 'Montserrat', sans-serif;
        }
        .sendEmail {
            .graphic {
                background-image: url("../images/sendEmail_graphic.png");
            }
            .btn{
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                color: white;
                &.btn-gmail {
                    background-color: #e94c4c;
                }
            }
        }
        
    }
    .meetup_details {
        margin-top: 80px;
        margin-bottom: 50px;
    }
}
.meetup_finalized {
    .calenderset {
       /* background-image: url("../images/meetup_setup_complete.png");
        background-repeat: no-repeat;
        height: 300px;
        width: 455px;
        margin-left: auto;
        margin-right: auto; */
    }
    .meetup_location {
        margin-bottom: 80px;
        .meetup_time {
            font-family:'Open Sans Condensed', sans-serif;
            font-weight: bold;
            font-size: 110px;
            text-transform: uppercase;
            line-height: .8;
        }
        .meetup_date {
            font-family: 'Open Sans', sans-serif;
            font-size: 25px;
        }
        .meetup_name {
            font-size: 29px;
            color: #197cbc;
            margin-top: 30px;
        }
    }
    .emailnotice {
        margin-bottom: 20px;
    }
}


.invitee_location_suggestion {
    #autoSuggestLocation {
        background-color: #76b96e;
        color: white;
        .shopImg {
            margin: 20px auto 20px auto;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            height: 165px;
            width: 165px;
            border: 10px solid #6daa65;
        }
        .shopName {
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
        }
        .shopAddress1stLine,
        .shopAddress2ndLine,
        .shopPhoneNumber {
            text-align: center;
            font-size: 16px;
            font-family: sans-serif;
        }
        .rating {
            padding-top: 18px;
        }
        .buttonCenter {}
        .option {
            margin-top: 30px;
            background-color: #76b96e;
            border: 1px solid #609b59;
            text-transform: uppercase;
        }
       .option:hover {
            background-color: #6ba863;
            color: white;
        }
    }
}



/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* HELPERS */
.center {
    margin: 0 auto!important;
}
.c1.c2 {
    font-size: 20px;
    font-weight: bold;
}
